<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    

  {{>header}}

    <section class="firstsection">
   <div class="oneright">
    <h1 class="oneheading">Simple solutions for <br>complex routine<br><span class="red">-you belong here</span></h1>
    <p class="onepra">
    We provide serious fitness but within<br> a fun and friendly, safe space.
    <div class="boxbtn">
        <buttom class="btn">JOIN NOW</buttom>
        <span class="onespan">FREE ROUTINE PLAN</span>
    </div>
    </p>
   </div>
<div class="oneleft">
<img class="hero" src="About Hero.png">
</div>
</section>

<section class="twosection">
<div class="twobox">
<h1 class="twoheading">
Our Story<span class="red">.</span></h1>
 <p class="twopra">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
<p class="twopra">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
</div>
<section class="threesection">
<h1 class="threeheading">Training programs<span>.</span></h1>
<div class="threemain">
<div class="mainimg">
    <img src="IMG20220421161718 1.png" alt="" class="big">
</div>
<div class="threebox">
<div class="threeimg">
<img src="wheel.png" alt="" class="three">
<img src="Mask group (1).png" alt="" class="three"> 
</div>
<div class="threeimg">
<img src="Mask group.png" alt="" class="three">
<img src="wheel.png" alt="" class="three">
</div>
</div>
</div>
</section>
<section class="foursection">
<h1 class="threeheading">Our Plan<span>.</span></h1>
<div class="price">
  <div class="john">
    <div class="fourbox">
        <img src="Ellipse 2.png" alt="" class="fourimg">
        <span class="fourspan">Hello, My Name is John</span>
    </div>
    <p class="fourpra">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis adipiscing nibh quis ultrices nibh velit pellentesque. Arcu metus, commodo non praesent justo, nibh magna. Sed feugiat nibh in vitae morbi in. Maecenas 
        Sed odio nunc, rutrum sed tincidunt non viverra eu quis. Quis arcu cras turpis nunc massa nisl facilisis amet. Tempor duis et massa ornare tincidunt. Bibendum ipsum nibh cras elementum condimentum sed semper. A et faucibus malesuada purus venenatis sociis iaculis integer sed.</p>
  </div>

  <div class="daisy">
    <div class="fourbox">
        <img src="Ellipse 3.png" alt="" class="fourimg"><span class="fourspan">Hello, My Name is Daisy</span>
    </div>
    <p class="fourpra">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis adipiscing nibh quis ultrices nibh velit pellentesque. Arcu metus, commodo non praesent justo, nibh magna. Sed feugiat nibh in vitae morbi in. Maecenas 
        Sed odio nunc, rutrum sed tincidunt non viverra eu quis. Quis arcu cras turpis nunc massa nisl facilisis amet. Tempor duis et massa ornare tincidunt. Bibendum ipsum nibh cras elementum condimentum sed semper. A et faucibus malesuada purus venenatis sociis iaculis integer sed.</p>
</div>
 </div>
</section>


{{>footer}}
<script src="about.js"></script>
</body>
</html>
