<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    {{>header}}
<section class="firstsection">
   <div class="oneright">
    <h1 class="oneheading">Get Trainings From<br>Our Experts<br><span class="red">-we train you.</span></h1>
    <p class="onepra">
    We provide serious fitness but within<br> a fun and friendly, safe space.
    <div class="boxbtn">
        <buttom class="btn">JOIN NOW</buttom>
<span class="onespan">FREE ROUTINE PLAN</span>
</div>
</p>
</div>
<div class="oneleft">
<img class="hero" src="blog hero.png">
</div>
</section>



<section class="twosection">
    <h1 class="twoheading">Our Blogs<span class="red">.</span></h1>
<p class="twopra">Top Picks</p>
<div class="twobox">
<div class="twoimg">
<img src="Rectangle 49.png" alt="" class="twoimgs">
<span class="twospan">Essential Yoga Flows for Every Day</span>
</div>

<div class="twoimg">
<img src="Rectangle 42.png" alt="" class="twoimgs">
<span class="twospan">Boost Your Mood</span>
</div>

<div class="twoimg">
<img src="Rectangle 43.png" alt="" class="twoimgs">
<span class="twospan">Get Core for<br> Strong Runs</span>
</div>

<div class="twoimg">
<img src="Rectangle 48.png" alt="" class="twoimgs">
<span class="twospan">Essential Yoga Flows for Every Day</span>
</div>

<div class="twoimg">
<img src="Rectangle 49.png" alt="" class="twoimgs">
<span class="twospan">Essential Yoga Flows for Every Day</span>
</div>

<div class="twoimg">
<img src="Rectangle 49.png" alt="" class="twoimgs">
<span class="twospan">Essential Yoga Flows for Every Day</span>
</div>

<div class="twoimg">
<img src="Rectangle 49.png" alt="" class="twoimgs">
<span class="twospan">Essential Yoga Flows for Every Day</span>
</div>
<div class="twoimg">
<img src="Rectangle 35.png" alt="" class="twoimgs">
<span class="twospan">Essential Yoga Flows for Every Day</span>
</div>

<div class="twoimg">
<img src="Rectangle 35.png" alt="" class="twoimgs">
<span class="twospan">Essential Yoga Flows for Every Day</span>
</div>
    
<div class="twoimg">
<img src="Rectangle 35.png" alt="" class="twoimgs">
<span class="twospan">Essential Yoga Flows for Every Day</span>
</div>
</div>


</section>
<section class="twosection">
    <p class="twopra">Healthy Tips</p>
    <div class="twobox">
    <div class="twoimg">
    <img src="Rectangle 49.png" alt="" class="twoimgs">
    <span class="twospan">Harness The Power of Your cycle</span>
    </div>
    
    <div class="twoimg">
    <img src="Rectangle 49.png" alt="" class="twoimgs">
    <span class="twospan">Cross-Training to<br> Master your Class</span>
    </div>
    
    <div class="twoimg">
    <img src="Rectangle 49.png" alt="" class="twoimgs">
    <span class="twospan">Detox From desk</span>
    </div>
    
    <div class="twoimg">
    <img src="Rectangle 49.png" alt="" class="twoimgs">
    <span class="twospan">Essential Yoga Flows for Every Day</span>
    </div>
    
    <div class="twoimg">
    <img src="Rectangle 49.png" alt="" class="twoimgs">
    <span class="twospan">Essential Yoga Flows for Every Day</span>
    </div>
    
    <div class="twoimg">
    <img src="Rectangle 49.png" alt="" class="twoimgs">
    <span class="twospan">Essential Yoga Flows for Every Day</span>
    </div>
    
    <div class="twoimg">
    <img src="Rectangle 49.png" alt="" class="twoimgs">
    <span class="twospan">Essential Yoga Flows for Every Day</span>
    </div>
    <div class="twoimg">
    <img src="Rectangle 35.png" alt="" class="twoimgs">
    <span class="twospan">Essential Yoga Flows for Every Day</span>
    </div>
    
    <div class="twoimg">
    <img src="Rectangle 35.png" alt="" class="twoimgs">
    <span class="twospan">Essential Yoga Flows for Every Day</span>
    </div>
        
    <div class="twoimg">
    <img src="Rectangle 35.png" alt="" class="twoimgs">
    <span class="twospan">Essential Yoga Flows for Every Day</span>
    </div>
    
    </div>
    </section>

    
    <section class="twosection">
        <p class="twopra">Food and Beverages</p>
        <div class="twobox">
        <div class="twoimg">
        <img src="Rectangle 49.png" alt="" class="twoimgs">
        <span class="twospan">Dynamic Warm-ups for Athietes</span>
        </div>
        
        <div class="twoimg">
        <img src="Rectangle 49.png" alt="" class="twoimgs">
        <span class="twospan">Extra Credit After <br> Cardio</span>
        </div>
        
        <div class="twoimg">
        <img src="Rectangle 49.png" alt="" class="twoimgs">
        <span class="twospan">For the whole Farmer</span>
        </div>
        
        <div class="twoimg">
        <img src="Rectangle 49.png" alt="" class="twoimgs">
        <span class="twospan">Essential Yoga Flows for Every Day</span>
        </div>
        
        <div class="twoimg">
        <img src="Rectangle 49.png" alt="" class="twoimgs">
        <span class="twospan">Essential Yoga Flows for Every Day</span>
        </div>
        
        <div class="twoimg">
        <img src="Rectangle 49.png" alt="" class="twoimgs">
        <span class="twospan">Essential Yoga Flows for Every Day</span>
        </div>
        
        <div class="twoimg">
        <img src="Rectangle 49.png" alt="" class="twoimgs">
        <span class="twospan">Essential Yoga Flows for Every Day</span>
        </div>
        <div class="twoimg">
        <img src="Rectangle 49.png" alt="" class="twoimgs">
        <span class="twospan">Essential Yoga Flows for Every Day</span>
        </div>
        
        <div class="twoimg">
        <img src="Rectangle 49.png" alt="" class="twoimgs">
        <span class="twospan">Essential Yoga Flows for Every Day</span>
        </div>
            
        <div class="twoimg">
        <img src="Rectangle 35.png" alt="" class="twoimgs">
        <span class="twospan">Essential Yoga Flows for Every Day</span>
        </div>
        
        </div>
        </section>
        

  {{>footer}}
<script src="about.js"></script>
</body>
</html>
