<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="home1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    
{{>header}}


    <section class="firstsection">
   <div class="oneright">
    <h1 class="oneheading">Get the best part<br> of your day<br><span class="red">-you fit here</span></h1>
    <p class="onepra">
    We provide serious fitness but within<br> a fun and friendly, safe space.
    <div class="boxbtn">
        <buttom class="btn">JOIN NOW</buttom>
        <span class="onespan">FREE ROUTINE PLAN</span>
    </div>
    </p>
   </div>
<div class="oneleft">
<img class="hero" src="Hero Image.png">
</div>
</section>

<section class="twosection">
<div class="twobox">
<h1 class="twoheading">
Our mission<span>.</span></h1>
 <p class="twopra">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
<p class="twopra">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
</div>
  </section>
<section class="threesection">
    <h1 class="threeheading">Training programs<span>.</span> </h1>
<div class="threeimg">
    <div class="img">
    <img src="" alt="" class="imgs">
    </div>
    <div class="img"><img src="unsplash_3cCe37VGDiQ.png" alt="" class="third-imgone"></div>
    <div class="img"><img src="unsplash_CnEEF5eJemQ.png" alt="" class="third-img"></div>
    <div class="img"><img src="unsplash_CS9ptdGhE0M.png" alt="" class="third-imgone"></div>
    <div class="img"><img src="unsplash_FeIxTBB1Iww.png" alt="" class="third-img"></div>
    <div class="img"><img src="unsplash_GaprWyIw66o.png" alt="" class="third-imgone"></div>
    <div class="img"><img src="unsplash_gJtDg6WfMlQ.png" alt="" class="third-img"></div>
    <div class="img"><img src="unsplash_y0SMHt74yqc.png" alt="" class="third-imgone"></div>
    <div class="img"><img src="unsplash_y0SMHt74yqc.png" alt="" class="third-img"></div>
</div>
<div class="icon">
<i id="lefticon" class="fa-solid fa-forward fa-flip-horizontal fa-2xl"></i>
<i id="righticon" class="fa-solid fa-forward fa-2xl"></i>
</div>
</section>
<section class="foursection">
<h1 class="threeheading">Pricing plan<span>.</span></h1>
<div class="price">
<div class="basic">
<h5 class="fourheading">Basic</h5>
<h1 class="fourheading1">20$/<br>month</h1>
<p class="fourpra">Unlimited gym access</p>
<p class="fourpra">1 training programs</p>
<p class="fourpra">free fitness consultation</p> 
  <button class="fourbtn">JOIN NOW</button>
</div>
<div class="pre">
    <h5 class="fourheading">Basic</h5>
    <h1 class="fourheading1">35$/<br>month</h1>
    <p class="fourpra">Unlimited gym access</p>
    <p class="fourpra">5 training programs</p>
    <p class="fourpra">free fitness consultation</p> 
    <button class="fourbtn">JOIN NOW</button>
</div>
<div class="elite">
    <h5 class="fourheading">Basic</h5>
    <h1 class="fourheading1">49$/<br>month</h1>
    <p class="fourpra1">Unlimited gym access</p>
    <p class="fourpra1">all training programs</p>
    <p class="fourpra1">Free fitness consultation</p>
    <p class="fourpra1">Personal trainer</p>
    <p class="fourpra1">50% off drinks</p>
    <button class="fourbtn">JOIN NOW</button>
</div>
 </div>
</section>

<section class="fivesection">
    <div class="fixed">
        <h3 class="fiveheading">Testimonials</h3>
        <div class="arrow">
<span id="leftarrow" class="material-symbols-outlined">
 arrow_back_ios</span>
<span id="rightarrow" class="material-symbols-outlined">
arrow_forward_ios
</span>
</div>
 </div>
    <div class="fivebox"> 
        <div class="fiveimg"> <img src="unsplash_3cCe37VGDiQ.png" alt="" class="images"> <span class="fivetext">"Great location, great price and great,<br> helpful people. What to want more ?"</span>
</div>
<div class="fiveimg"> <img src="unsplash_CS9ptdGhE0M.png" alt="" class="images">
 <span class="fivetext">"Great location, great price and great,<br> helpful people. What to want more ?"</span></div>
<div class="fiveimg"><img src="unsplash_3cCe37VGDiQ.png" alt="" class="images"> <span class="fivetext">"Great location, great price and great,<br> helpful people. What to want more ?"</span></div>
<div class="fiveimg"><img src="unsplash_y0SMHt74yqc.png" alt="" class="images">
<span class="fivetext">"Great location, great price and great,<br> helpful people. What to want more ?"</span></div>
<div class="fiveimg"><img src="unsplash_GaprWyIw66o.png" alt="" class="images">
<span class="fivetext">"Great location, great price and great,<br> helpful people. What to want more ?"</span></div>
<div class="fiveimg"><img src="unsplash_FeIxTBB1Iww.png" alt="" class="images"> <span class="fivetext">"Great location, great price and great,<br> helpful people. What to want more ?"</span>
</div>
<div class="fiveimg"> <img src="unsplash_CS9ptdGhE0M.png" alt="" class="images"><span class="fivetext">"Great location, great price and great,<br> helpful people. What to want more ?"</span></div>
<div class="fiveimg"><img src="unsplash_3cCe37VGDiQ.png" alt="" class="images"> <span class="fivetext">"Great location, great price and great,<br> helpful people. What to want more ?"</span></div>
        <div class="fiveimg"><img src="unsplash_y0SMHt74yqc.png" alt="" class="images"> <span class="fivetext">"Great location, great price and great,<br> helpful people. What to want more ?"</span></div>
        <div class="fiveimg"><img src="unsplash_GaprWyIw66o.png" alt="" class="images"> <span class="fivetext">"Great location, great price and great,<br> helpful people. What to want more ?"</span></div>
        <div class="fiveimg"><img src="unsplash_FeIxTBB1Iww.png" alt="" class="images"> <span class="fivetext">"Great location, great price and great,<br> helpful people. What to want more ?"</span></div>
    </div>
</section>

<section class="sixsection">
    <div class="sixbox">
 <h1 class="sixheading">FAQ</h1>
 <p class="sixpra">How can I book a workout class?</p>
 <p class="sixpraone">Booking a workout is simple for our members. Simply log into your Gymme account on our website and click "book class" buuton. You can book 3days in advance at 9pm.
  <br><br>
  You can cancel your class online by logging back in and click "cancel booking".
 </p>
 <p class="sixpra">Can I pay by cash for my membership?</p>
 <p class="sixpra">What age do I need to be to join?</p>
 <p class="sixpra">Are there any locker?</p>
 <p class="sixpra">How do I cancle my membership?</p>
 <p class="sixpra">is there water avaliable at the gym?</p>
</div>
<div class="">

</div>
</section>
{{>footer}}
<script src="home.js"></script>
</body>
</html>
