<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
<link rel="stylesheet" href="login.css" />
</head>
<body>
<section>
<div class="first-half">
<div class="logo">
<img src="IMG20220421161125 1.png">
</div>
<div class="first-heading">
<h1 >Don’t give up on your dreams,<br> or your dreams will <br> give up on you. 
</h1>
</div>
</div>
<div class="second-half">
<div class="sec-firsthalf">
<form action="/login" method="post">
<p class="sec-pra">Welcome back</p>
<h1 class="sec-heading">Login to your account</h1>
<p class="sec-pra">Email</p>
<input type="name" name="email" placeholder="Email">
<p class="sec-pra">Password</p>
<input type="password" name="password" placeholder="Password">
<p><spam class="spam-rem">Remember me</spam><spam class="sec-for">Forgot password?</spam></p><input  type="submit"    id="login"  placeholder="login">
<button id="sign"> <img class="sec-icon"
src="iconfinder_Google_1298745 1.png"> Or sign-in with google</button>
</form>
</div>
</div></section>
</body>
</html>
