<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="workout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    
  {{>header}}

    <section class="firstsection">
   <div class="oneright">
    <h1 class="oneheading">Get Trainings From<br>Our Experts<br><span class="red">-we train you.</span></h1>
    <p class="onepra">
    We provide serious fitness but within<br> a fun and friendly, safe space.
    <div class="boxbtn">
        <buttom class="btn">JOIN NOW</buttom>
        <span class="onespan">FREE ROUTINE PLAN</span>
    </div>
    </p>
   </div>
<div class="oneleft">
<img class="hero" src="workout hero.png">
</div>
</section>

<section class="twosection">
<div class="twobox">
  <div class="bro">Browse</div>
  <div class="bro">Collections</div>
  <div class="bro">Plans</div>
  </div>
  <div class="twoimg">
<img src="Rectangle 26.png" alt="" class="twoimgs">
 <span class="twospan">Muscle Group</span>
</div>
<div class="twoimg">
<img src="Rectangle 24.png" alt="" class="twoimgs">
<span class="twospan">Workout Focus</span>
</div>
<div class="twoimg">
<img src="Rectangle 25.png" alt="" class="twoimgs">
<span class="twospan">Equipment</span>
  </div>
  {{>footer}}
<script src="about.js"></script>
</body>
</html>
