<footer class="foot">
    <div class="footbox">
   <img class="footlogo"src="IMG20220421161125 1.png">
     </div>
   
   <div class="footpra">
   Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit, sed do eiusmod tempor incididunt</div>  
   <ul class="footmenu">   
   <li>Workout</li>
   <li>Pricing</li>
   <li>About</li>
   <li>Blogs</li>
   </ul>
   <div class="footicon">
     <div><i class="fa-brands fa-facebook fa-2xl ifoot"></i></div>
     <div><i class="fa-brands fa-twitter fa-2xl ifoot" ifoot></i></div>
     <div><i class="fa-brands fa-instagram fa-2xl ifoot"></i></div>
   </div>
   </footer>