<header>
<div class="logo">
<img  class="log" src="IMG20220421161125 1.png" alt="logo">
<span id="bar" class="material-symbols-outlined">
    menu
    </span>
</div>
<div class="menu toggle"> 
<ul class="ul-nav">
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/workout">Workout</a></li>
<li><a href="/blog">Blogs</a></li>
</ul>
<div class="sign">
<button class="login"><a href="login.html">Log in</a></button>
<buttom class="signup"><a href="sign.html">Sign up</a></buttom>
</div>
</div>
</header> 